/* Common CSS */
*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1320px;
    margin: auto;
}
/* font-family: "Merriweather", serif;
    font-family: "Inter", sans-serif;
 */

 /* Banner CSS */
 .banner_section{
    margin: 50px 0px;
 }
 .banner_content{
    background-image: url(./images/Banner\ Image.png);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0000006e;
    background-blend-mode: multiply; 
    border-radius: 16px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .banner_content h3{
    font-family: "Merriweather", serif;
    font-size: 32px;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #fff;
 }
 .banner_content h1{
    font-family: "Merriweather", serif;
    font-size: 72px;
    line-height: 95px;
    font-weight: 700;
    color: #fff;
    text-align: center;
 }

 /* Offers CSS */
 .offers{
    margin-top: 70px;
    margin-bottom: 60px;
 }
 .offer_content{
    text-align: center;
 }
 .offer_content h2{
    color: #FF0000;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 88px;
    line-height: 98px;
    margin-bottom: 48px;
 }
 .offer_content p{
    color: #FF0000;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
}
 .offer_content h4{
    color: #070211;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-top: 16px;
 }
 
/* Party CSS */
.party_section{
    padding: 60px 0px !important;
}
.party_content{
    padding: 120px;
    border-radius: 16px;
    background-color: #0000006e;
    background-blend-mode: multiply; 
    background-image: url(./images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    align-items: center;
}
.party_text_content h2{
    color: #fff;
    font-size: 64px;
    line-height: 88px;
    font-weight: 800;
    margin-bottom: 24px;
    font-family: "Merriweather", serif;
}
.party_text_content p{
    color: #ffffffb9;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 46px;
    font-family: "Inter", sans-serif;
}
.party_text_content a{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

/* Event CSS */
.event_section{
    padding: 60px 0px !important;
}
.event_content{
    background: linear-gradient( 180deg, #ffe6e6 0%, #ff000000 100%);
    padding: 100px 0px;
    text-align: center;
    border-radius: 16px;
}
.event_content h3{
    color: #070211;
    font-size: 32px;
    line-height: 56px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}
.event_content h3 span{
    color: #FF0000;
}
.event_content A{
    padding: 16PX 32PX;
    border-radius: 8PX;
    color: #fff;
    background-color: #FF0000;
    text-decoration: none;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    margin-top: 48px;
    display: inline-block;
}

/* Upcoming Section CSS */
.upcoming_section{
    margin-top: 60px;
    margin-bottom: 60px;
}
.upcoming_content_area{
    display: grid;
    grid-template-columns: 1fr 1.4fr 1fr;
    gap: 40px;
    align-items: center;
}
.left_upcoming_content h6{
    color: #FF0000;
    font-size: 24px;
    line-height: 34px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.left_upcoming_content h2{
    font-family: "Merriweather", serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    color: #070211;
    margin-top: 16px;
    margin-bottom: 22px;
}
.left_upcoming_content p{
    color: #070211a4;
    font-size: 20px;
    line-height: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.middle_upcoming_image img{
    border-radius: 100%;
    border: 15px solid #FF0000;
    padding: 30px;
}
.right_upcoming_content h3{
    color: #FF0000;
    font-size: 48px;
    line-height: 58px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
.right_upcoming_content p{
    color: #070211a4;
    font-size: 20px;
    line-height: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 40px;
}

/* Holiday Sale CSS */
.holiday_sale{
    padding-bottom: 60px;
    padding-top: 60px;
}
.holiday_top{
    text-align: center;
    margin-bottom: 64px;
}
.holiday_top h6{
    color: #070211;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
}
.holiday_top h2{
    color: #070211;
    font-family: "Merriweather", serif;
    font-weight: 800;
    font-size: 72px;
    line-height: 82px;
    margin-bottom: 28px;
    margin-top: 16px;
}
.holiday_top h2 span{
    color: #FF0000;
}
.holiday_top p{
    color: #070211a4;
    font-size: 20px;
    line-height: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    width: 65%;
    margin: auto;
}
.holiday_main_area{
    background-image: url(./images/Rectangle\ 2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 0px 60px;
}
.discount_box_img{
    width: 674px;
    height: 577px;
}
.discount_img{
    width: 220px;
    height: 220px;
}

/* Gift CSS */
.gift_section{
    padding-top: 60px;
    padding-bottom: 60px;
}
.gift_top h6{
    color: #070211;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
}
.gift_top h2{
    color: #070211;
    font-family: "Merriweather", serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 22px;
    margin-top: 16px;
}
.gift_top p{
    color: #070211a4;
    font-size: 20px;
    line-height: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    width: 65%;
}
.gift_content{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}